# Enable build scripts for deployment
enable-pre-post-scripts=true

# Ensure Sharp builds for correct platform
sharp_binary_host=https://github.com/lovell/sharp-libvips/releases/download/
sharp_libvips_binary_host=https://github.com/lovell/sharp-libvips/releases/download/ 