---
interface Props {
  eyebrow: string | Date;
  title: string;
}

const { eyebrow, title } = Astro.props;
---

<div class="py-8 relative overflow-hidden">
  <div
    class="absolute inset-0 -z-10"
    style="background-image: url('/images/iron-grip.png'); background-repeat: repeat; "
  >
  </div>
  <div
    class="absolute inset-0 -z-10 bg-gradient-to-b from-primary brightness-95 via-primary/80 to-primary/40"
  >
  </div>

  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 relative">
    <div class="mx-auto max-w-3xl lg:mx-0">
      <!-- <p class="text-base sm:text-lg md:text-xl font-display text-primary">
        {eyebrow}
      </p> -->
      <h2 class="text-3xl sm:text-4xl font-semibold text-primary-foreground">
        {title}
      </h2>
    </div>
  </div>
</div>
