---
import { Image } from "astro:assets";
import heroImage from "@/assets/rubadue-hero.webp";
---

<div class="relative isolate overflow-hidden h-[calc(100vh-73px)]">
  <Image
    src={heroImage}
    alt="Rubadue hero background"
    class="absolute inset-0 -z-10 object-cover w-full h-full brightness-80"
    quality={90}
    format="webp"
  />

  <div
    class="absolute inset-0 -z-10 opacity-20"
    style="background-image: url('/images/iron-grip.png'); background-repeat: repeat; mask-image: linear-gradient(to bottom, #fff , #0000 ); "
  >
  </div>

  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 h-full flex items-center">
    <div class="mr-auto max-w-5xl mb-[20vh]">
      <div class="flex gap-2 mb-8">
        <img
          src="/icon-dot-circles.svg"
          alt="Dot Circles Icon"
          class="size-12"
        />
        <img src="/icon-dot.svg" alt="Dot Icon" class="size-12" />
        <img src="/icon-dots.svg" alt="Dots Icon" class="size-12" />
      </div>
      <div class="hidden sm:mb-8 sm:flex">
        <div
          class="relative rounded-full bg-background/20 backdrop-blur-sm px-3 py-1 text-sm/6 text-foreground ring-1 ring-foreground/20 hover:ring-foreground/40"
        >
          Discover our latest wire innovations.{" "}
          <a href="#" class="font-semibold text-foreground">
            <span aria-hidden="true" class="absolute inset-0"></span>
            Learn more <span aria-hidden="true">&rarr;</span>
          </a>
        </div>
      </div>
      <div class="text-left">
        <h1
          class="text-balance text-5xl font-semibold tracking-tight text-foreground sm:text-7xl"
        >
          Advanced Wire Solutions
        </h1>
        <p
          class="mt-6 mx-auto text-pretty text-lg font-medium text-foreground/80 sm:text-xl/8"
        >
          Specializing in custom wire manufacturing, we deliver innovative
          solutions for high-frequency applications, transformers, and power
          supplies with unmatched quality and precision.
        </p>
        <div class="mt-10 flex items-center justify-start gap-x-6">
          <a
            href="/products"
            class="rounded-md bg-primary px-3.5 py-2.5 text-sm font-semibold text-primary-foreground shadow-sm hover:bg-primary/90 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary"
          >
            View Products
          </a>
          <a
            href="#"
            class="text-sm/6 font-semibold text-foreground/80 hover:text-foreground"
          >
            Contact Sales <span aria-hidden="true">→</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
