@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 21 0% 95%;
    --foreground: 21 0% 0%;
    --card: 21 0% 90%;
    --card-foreground: 21 0% 10%;
    --popover: 21 0% 95%;
    --popover-foreground: 21 95% 0%;
    --primary: 21 56.7% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 21 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: -17 10% 85%;
    --muted-foreground: 21 0% 35%;
    --accent: -17 10% 80%;
    --accent-foreground: 21 0% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 21 0% 90%;
    --border: 21 20% 50%;
    --input: 21 20% 18%;
    --ring: 21 56.7% 48%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 21 10% 5%;
    --foreground: 21 0% 90%;
    --card: 21 0% 0%;
    --card-foreground: 21 0% 90%;
    --popover: 21 10% 5%;
    --popover-foreground: 21 0% 90%;
    --primary: 21 56.7% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 21 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: -17 10% 15%;
    --muted-foreground: 21 0% 60%;
    --accent: -17 10% 15%;
    --accent-foreground: 21 0% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 21 0% 90%;
    --border: 21 20% 18%;
    --input: 21 20% 18%;
    --ring: 21 56.7% 48%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  .text-logo {
    color: hsl(var(--background));
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground overscroll-none;
    /* font-feature-settings: "rlig" 1, "calt" 1; */
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  @supports (font: -apple-system-body) and (-webkit-appearance: none) {
    [data-wrapper] {
      @apply min-[1800px]:border-t;
    }
  }

  /* Custom scrollbar styling. Thanks @pranathiperii. */
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: hsl(var(--border));
    border-radius: 5px;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--border)) transparent;
  }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute w-9 h-9 bg-muted rounded-full font-mono font-medium text-center text-base inline-flex items-center justify-center -indent-px border-4 border-background;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }

  .chunk-container {
    @apply shadow-none;
  }

  .chunk-container::after {
    content: "";
    @apply absolute -inset-4 shadow-xl rounded-xl border;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .border-grid {
    @apply border-border/30 dark:border-border;
  }

  .container-wrapper {
    @apply min-[1800px]:max-w-[1536px] min-[1800px]:border-x border-border/30 dark:border-border mx-auto w-full;
  }

  .container {
    @apply px-4 xl:px-6 2xl:px-4 mx-auto max-w-[1536px];
  }
}
