---
import BaseHead from "@/components/astro/layout/BaseHead.astro";
import { Header } from "@/components/react/layout";
import Footer from "@/components/astro/layout/Footer.astro";
import Hero from "@/components/astro/layout/Hero.astro";
import { CableSection } from "@/components/react/products";
import "@/styles/global.css";

const title = "Rubadue Wire - Advanced Wire Solutions";
const description =
  "Specializing in Litz wire manufacturing, we deliver innovative solutions for high-frequency applications, transformers, and power supplies with unmatched quality and precision.";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="min-h-screen bg-background font-sans antialiased">
    <Header client:load />
    <main>
      <Hero />
      <CableSection client:load />
    </main>
    <Footer />
  </body>
</html>
