---
import N1MaxCalculatorForm from "@/components/react/forms/n1-max/N1MaxCalculatorForm";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout
  title="N1 Max Calculator | Rubadue Wire"
  description="Calculate the maximum number of turns (N1 max) for a transformer using our N1 Max Calculator"
  category="Tools"
  eyebrow="Tools"
  headerTitle="Litz N1 Max Calculator"
>
  <div class="py-8 sm:py-12 md:py-16 lg:py-24">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <N1MaxCalculatorForm client:load />
    </div>
  </div>
</BaseLayout>
