---
import N1MaxCalculatorForm from "@/components/forms/product-tools/N1MaxCalculatorForm";
import LitzWireCalculatorForm from "@/components/forms/product-tools/LitzWireCalculatorForm";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout
  title="About Rubadue Wire | Wire & Cable Solutions"
  description="Since 1977, Rubadue Wire has been pioneering wire solutions with cutting-edge technology, specializing in triple-insulated wire and Litz wire. As a 100% employee-owned company, we solve wire and cable challenges when high performance and reliability are critical."
  category="About"
  eyebrow="Litz Wire"
  headerTitle="Design Calculator"
>
  <div class="py-8 sm:py-12 md:py-16">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <LitzWireCalculatorForm client:load />
    </div>
  </div>
</BaseLayout>
